projection:
  make_fstack: false
  make_max: true
  make_median: true

# Parameters for illumination correction, channel brightness correction and filtering
image_correction:
  # To compute the average for illumination correction, individual images are clipped to this 
  # value before averaging to avoid bright outliers
  average_clip_value: 2000
  # Size of the median filter apply to images for illumination correction before averaging
  average_median_filter: 5
  # Path to calibration images for black level estimation, relative to processed data path
  dark_frame_path: becalia_iss_microscope/calibration/20221209_dark_frame/20221209_dark_frame_MMStack_Pos0.ome.tif
  # Data quantile to use for channel brightness correction - should correspond to bright rolonies
  correction_quantile: 0.9999
  # Tile coordinates for channel brightness correction, ROI x X x Y
  correction_tiles: [ [ 1, 0, 0 ] ]
  # Inner and outer radius of the hanning window convolution kernels for filtering
  filter_r: [ 2, 4 ]
  # Whether to use an exponential fit to estimate channel brightness correction across rounds
  fit_channel_correction: true

# Parameters for registration across rounds and channels
registration:
  # Whether to use channel-specific registration parameters
  align_channels: true
  # Coordinates of the reference tile to use for initial estimation of scale and rotation between channels
  ref_tile: [ 1, 0, 0 ]
  # Index of the reference channel to use for registration (camera index, NOT wavelength index)
  ref_ch: 0
  # Index of the reference round to use for registration
  ref_round: 0
  # Fraction of the tile to use for registration
  reg_fraction: 0.1
  # Method for correcting shifts for individual tiles
  corrected_shifts: best
  # Mininum tile shift above which RANSAC fit is used to estimate the shift
  ransac_residual_threshold: 10
  # Maximum shift for inititial registration across rounds
  rounds_max_shift: 500
  # Maximum shift for tiles to be included in the RANSAC fit
  ransac_max_shift: 500
  # Minumum number of tile for RANSAC fit, otherwise median is used
  ransac_min_tiles: 10
  # Whether tile position increments from left to right or right to left
  x_tile_direction: left_to_right
  # Whether tile position increments from bottom to top or top to bottom
  y_tile_direction: bottom_to_top
  #Whether to use a median filter on images before registration, if None no filter is applied
  reg_median_filter: 2

# Radius of the mask used for extracting spot fluorescence. The resulting values are used for estimating
# bleedthrough matrices, calling hybridisation spots and basecalling barcodes
spot_extraction_radius: 2

# Parameters for detecting and calling gene spots
genes:
  # Filename of the codebook with GIIs
  codebook: codebook_88_20230216.csv
  # Projection to use for gene spots, "fstack" or "max"
  genes_projection: max 
  # How to apply brightness correction for gene sequencing. Can be True, False, or "round1_only". In the
  # latter case all channels are normalized to 1 on round 1 and decrease in brightness across rounds is 
  # not corrected for.
  genes_correct_channels: round1_only
  # tiles used to train the bleedthrough matrix for genes
  genes_ref_tiles: [ [ 1, 0, 0 ], ]
  # Cluster score threshold used to identify spots to estimate the bleedthrough matrix for genes
  genes_cluster_score_thresh: 0.9
  # Detection threshold used to identify spots to estimate the bleedthrough matrix for genes
  genes_detection_threshold: 0.15 
  # Isolation threshold to select well-isolated spots. Lower values = more stringent
  genes_isolation_threshold: 0.05
  # Coefficient used to weight positive pixels when computing spot scores
  genes_spot_rho: 2 
  # Spot score threshold determines which spots get saved to pkl
  genes_spot_score_threshold: 0.1
  # Alpha and beta parameter for the weighted OMP algorithm
  omp_alpha: 200
  omp_beta_squared: 1.0
  # Maximum number of genes per pixel, including background components
  omp_max_genes: 12
  # OMP does not run on pixels below this mean absolute pixel value 
  omp_min_intensity: 0.005
  # Stopping criterion for OMP. Additional genes get added if they exceed this threshold
  omp_threshold: 0.2

# Parameters for computing average spot shape for distinguishing genuine gene spots from noise
spot_shape:
  spot_shape_neighbor_filter_size: 9
  spot_shape_neighbor_threshold: 15
  spot_shape_radius: 7
  spot_shape_threshold: 0.15 

# Parameters for detecting hybridisation spots
hybridisation:
  hybridisation_detection_threshold: 0.5 
  hybridisation_correct_channels: true
  hybridisation_projection: max
  hybridisation_cluster_score_thresh: 0.0


# Detection of mCherry+ cells
mcherry:
  mcherry_projection: max

# projection for other acquisitions
dapi_projection: max
anchor_projection: max

# Barcode basecalling
barcode:
  barcode_projection: max
  barcode_correct_channels: round1_only
  barcode_cluster_score_thresh: 0.9
  barcode_detection_threshold: 0.3
  barcode_isolation_threshold: 0.3
  barcode_detection_threshold_basecalling: 0.1
  barcode_ref_tiles: [ [ 1, 0, 0 ] ]
  barcode_spot_rho: 0.5

# Cellpose segmentation
cellpose:
  cellpose_flow_threshold: 0.4
  cellpose_model: cyto
  cellpose_rescale: 0.55

# Database integration. 
# If true will upload ops to flexilims when performing a batch operation
use_flexilims: true
